h2{
    margin:1rem 0;
}

.block{
    padding-top:0;
}

#user_info label{
    text-align: center;
}

#user_info{
    width:25%;
}

#programs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#program_links, #update_display_name, #update_password{
    margin:.5rem 0 2rem 0;
}

#programs a{
    background-color:var(--yellow);
    color:var(--maroon);
    font-size:1.5rem;
    font-weight: bold;
    padding:0;
    margin:0 .5rem;
    text-decoration: underline;
}

#programs a:hover{
    color:black;
}

#update_info input{
    margin-bottom:.5rem;
}

#update_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#update_info > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container button{
    width:100%;
}

#quote_info{
    width:100%;
    display: flex;
    justify-content: space-evenly;
}

#quote_info label{
    font-size:1.3rem;
}

#uploaded_quotes button, #liked_quotes button{
    font-size:1rem;
}

textarea{
    height:2.5rem;
}

#uploaded_quotes input{
    margin-bottom:1rem;
}

#one_uploaded_quote{
    border:.1rem solid black;
    background-image: url("/../static/img/quotes_background.jpg");
    background-size: cover;
    background-position-x: 10%;
    padding:.5rem 2rem;
    margin-bottom:1.5rem;
}

#one_uploaded_quote button:hover{
    background-color: green;
}

#uploaded_quotes button, #liked_quotes button{
    width:auto;
}

#delete_quote{
    display: flex;
    justify-content: center;
    padding-top:.4rem;
    margin-bottom:.5rem;
}

#delete_quote button{
    background-color: black;
}

#delete_quote button:hover{
    background-color: red;
}

#quote_info > div{
    width:40%;
}

span{
    font-weight: bold;
    font-size:1.3rem;
}

#one_liked_quote{
    border:.1rem solid black;
    margin-bottom:1.5rem;
    padding:.5rem;
    background-image: url("/../static/img/quotes_background.jpg");
    background-size: cover;
    background-position-x: 10%;
}

#one_liked_quote button{
    background-color: black;
    width:auto;
    padding:.5rem;
    margin-top:.7rem;
}

#one_liked_quote button:hover{
    background-color: red;
}

#messages{
    color:var(--maroon);
    font-weight: bold;
}