#container{
    padding-bottom: 1rem;
}

#content{
    width:80%;
}

#quotes{
    display: flex;
    width:80%;
    flex-wrap: wrap;
}

#one_quote{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("/../static/img/quotes_background.jpg");
    background-size: cover;
    background-position-x: 10%;
    border:.2rem solid black;
    padding:1rem;
    box-shadow: var(--shadow);
    margin:0 2rem 2rem 0;
    width:40%;
}

.quote{
    font-size:1.4rem;
    color:green;
    font-weight: bold;
    padding-bottom:.3rem;
}

.author{
    padding-bottom:.5rem;
    padding-left:1rem;
    font-weight: bold;
}

.added_by{
    font-style: italic;
    font-size: 1rem;
    padding-bottom: .5rem;
}

#one_quote button{
    padding:0.2rem .5rem;
    margin-right:.3rem;
    background-color: green ;
    color:white;
    box-shadow: var(--shadow);
    width:auto;
    font-size:.9rem;
}

#one_quote button:hover{
    background-color: darkgreen;
    color:white;
}

#one_quote form p{
    font-size: 1rem;
}

#video{
    margin-bottom:2.5rem;
    border:.2rem solid black;
}

iframe {
    width:100%;
    height:18rem;
    border:.2rem solid white;
}

#add_quote{
    width:40%;
    display:flex;
    flex-direction: column;
}

#add_quote form{
    width:80%;
    align-self:center
}

#add_quote p{
    text-align: center;
    padding-top:1rem;
    color:var(--maroon)
}

#add_quote h2{
    text-align: center;
    padding-bottom:.5rem;
}

#no_quotes{
    font-size:1rem;
    font-style: italic;
}