#wrapper{
    min-height:100vh;
}

h1{
    padding-top:5rem;
    padding-bottom:0;
}

#content{
    background-color: white;
    width:40%;
    padding:1rem 2rem 0 2rem;
    border:.2rem solid black;
}

p{
    margin-bottom:2rem;
    font-size:1.7rem;
}

span{
    font-weight:bold;
    font-size:2rem;
    padding-right:.2rem;
}