#container{
    padding-bottom:0;
}

#affirmation{
    padding-top:.5rem;
}

.statement{
    color:green;
    font-weight: bold;
    font-size:1.4rem;
}

.messages{
    color:red;
    margin-top:1rem;
    font-weight: bold;
    text-align: center;
    padding:.5rem;
    background-color: white;
    width:99%;
}

#begin{
    display: flex;
    flex-direction: column;
    width:44%;
    align-items: center;
}

h2{
    padding-bottom: 1.5rem;
}

#begin h3{
    padding-bottom: 1rem;
    font-size:1.8rem;
    font-weight:normal;
}

#begin ol{
    padding-left:2rem;
    background-color: white;
    border:.1rem solid black;
    padding:1rem 1rem 1rem 3rem;
}

#begin ol > li{
    font-size: 1.3rem;
    padding-bottom: 1rem;
    font-weight: bold;
}

ul{
    list-style-type: none;
    padding-top:.5rem;
}

#begin ul > li{
    font-size:1.1rem;
    font-weight: normal;
}

#add_baseline_data{
    width:17%;
}

#add_data button{
    width:auto;
}

#baseline_average{
    text-align: center;
}

#goal{
    margin-bottom:3rem;
}

#goal p{
    font-size:1.5rem;
    color:white;
    font-weight: bold;
    background-color: green;
    border:.1rem solid black;
    padding:1rem;
}

table{
    border:.1rem solid black;
    border-spacing: 0;
    border-collapse: collapse;
}

table button, table a{
    font-size:.8rem;
    width:auto;
    padding:.5rem;
}

table button{
    background-color: black;
}

table button:hover{
    background-color: red;
}

#disabled{
    background-color: gray;
    cursor:not-allowed;
    color:black;
}

tr th, td{
    padding:.5rem;
}

tr th{
    background-color: var(--maroon);
    color:white;
    font-weight: normal;
    border-bottom: .1rem solid black;
    border-collapse: collapse;
}

th, td{
    font-size:1rem;
}

tr{
    background-color: rgb(231, 229, 229);
}

#intervention_row{
    background-color: white;
}

th, td{
    text-align: left;
}
span{
    font-weight: bold;

}

#yes{
    color:green;
}

#no{
    color:var(--maroon);
}

#baseline_info p{
    text-align:center;
}

#baseline_info > p{
    font-style: italic;
    font-size:1.5rem;
}

#baseline_info > p{
    padding-bottom:3rem;
}