<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BetterSelf</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div id="wrapper">
        <div id="nav">
            <a href = "/admin">Get Motivated</a>
            <a href = "/admin">Start Program</a>
            <a href="/admin">Login</a>
        </div>
        <h1>Say hello to your better self.</h1>
    </div>
</body>
</html>