<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BetterSelf</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div id="wrapper">
        <nav>
            <p>BetterSelf</p>
            <p>Become a better version of yourself, one day at a time.</p>
            <a href = "/admin">Get Motivated</a>
            <a href = "/admin">Start Program</a>
            <a href="/admin">Login</a>
        </nav>
        <h1>Say hello to your better self.</h1>
        <footer>
            <p>&#169; 2021 BetterSelf, Inc.</p>
            <p><a href="">Terms of Service</a> | <a href="">Privacy Policy</a></p>
        </footer>
    </div>
</body>
</html>