<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div id="wrapper">
        <nav>
            <p>BetterSelf</p>
            <p>Become a better version of yourself, one day at a time.</p>
            <a href = "/home">Home</a>
            <a href = "/quotes">Get Motivated</a>
            <a href = "/program">Start Program</a>
            <a href="/my_account">My Account</a>
            <a href="/admin/logout">Logout</a>
        </nav>
        <h1>Start a New Program</h1>
        <div id ="messages">
            {% if messages %}
            {% for message in messages %}    
            <p class="messages">    
            {{ message }}   
            </p>
            {% endfor %}
            {% endif %}
        </div> 
        <div id="add_program">
            <form action="/program/create_program" method="POST">
            {% csrf_token %}
                <label for="behavior">Behavior</label>
                <input name="behavior" type="text">
                <label for="measurement">Unit of Measurement</label>
                <input name="measurement" type="text">
                <label for="direction">Increase or Decrease Behavior?</label>
                <select name="direction">
                    <option value="1">Increase</option>
                    <option value="0">Decrease</option>
                </select>
                <label for="reason">Reason for Wanting Change</label>
                <textarea name="reason"></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
        <footer>
            <p>&#169; 2021 BetterSelf, Inc.</p>
            <p><a href="">Terms of Service</a> | <a href="">Privacy Policy</a></p>
        </footer>
    </div>
</body>
</html>