<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BetterSelf</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/quotes_wall.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">    
</head>
<body>
    <div id="wrapper">
        <nav>
            <div id="logo">
                <img src="/static/img/logo_maroon.jpg" alt="clapping hands logo">
                <p>BetterSelf</p>
                <p>Become a better version of yourself, one day at a time.</p>
            </div>
            <div id="nav_links">
                <a href = "/home">Home</a>
                <a href = "/quotes">Get Motivated</a>
                <a href = "/program">Start Program</a>
                <a href="/user/{{this_user.id}}/account">My Account</a>
                <a href="/admin/logout">Logout</a>
            </div>
        </nav>
        <div id="container">
            <h1>Dream. Act. Share. Inspire.</h1>
            <div id="content" class="block">
                <div id="quotes">
                {% for quote in all_the_quotes %}
                    <div id="one_quote">
                        <p class="quote">"{{quote.quote}}"</p>
                        <p class="author">- {{quote.author}}</p>
                        <p class="added_by">Added by {{quote.user_who_uploaded.display_name}} on {{quote.created_at.date}}</p>
                        </p>
                        {% if this_user in quote.user_who_liked.all %}
                        <form action="quotes/{{quote.id}}/unlike" method="POST">
                        {% csrf_token %}
                            <p>
                                <button type="submit">Unlike</button>                        
                                {% if quote.user_who_liked.count > 0 %}
                                {{quote.user_who_liked.count}}
                                {% endif %}
                            </p>
                        </form>
                        {% else %}
                        <form action="quotes/{{quote.id}}/like" method="POST">
                        {% csrf_token %}
                            <p>
                                <button type="submit">Like</button>
                                {% if quote.user_who_liked.count > 0 %}
                                {{quote.user_who_liked.count}}
                                {% endif %}
                            </p>
                        </form>
                        {% endif %}
                    </div>
                {% endfor %}
                </div>
                <div id="add_quote">
                    <div id="video">
                        <iframe src="https://www.youtube.com/embed/HwLK9dBQn0g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                <h2>Add a Quote</h2>
                <form action="/quotes/create_quote" method="POST">
                {% csrf_token %}
                    <label for="quote">Quote <span id="no_quotes">(no quotation marks)</span></label>
                    <textarea name="quote"></textarea>
                    <label for="author">Quote Author</label>
                    <input name="author" type="text">
                    <button type="submit">Add Quote</button>
                </form>
                {% if messages %}
                {% for message in messages %}    
                <p class="messages">    
                {{ message }}   
                </p>
                {% endfor %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>&#169; 2021 BetterSelf, Inc.</p>
        <p><a href="https://www.freshbooks.com/blog/does-my-website-really-need-a-terms-and-conditions-page" target="_blank">Terms of Service</a> | <a href="https://www.privacypolicies.com/blog/privacy-policies-legally-required/" target="_blank">Privacy Policy</a></p>
    </footer>
</body>
</html>