<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div id="wrapper">
        <div id="nav">
            <p>Hello {{this_user.first_name}}</p>
            <a href = "/program">Start Program</a>
            <a href="/my_account">My Account</a>
            <a href="/admin/logout">Logout</a>
        </div>
        <h1>Quotes Wall</h1>
        <div id ="messages">
            {% if messages %}
            {% for message in messages %}    
            <p class="messages">    
            {{ message }}   
            </p>
            {% endfor %}
            {% endif %}
        </div>
        <div id="quotes">
            {% for quote in all_the_quotes %}
            <p>{{quote.quote}}</p>
            <p>{{quote.author}}</p>
            <p>Added by:</p>
            <p>{{quote.user_who_uploaded.first_name}}</p>
            <p>Number of Likes:</p>
                {{quote.user_who_liked.count}}
            </p>
            {% if this_user in quote.user_who_liked.all %}
            <form action="quotes/{{quote.id}}/unlike" method="POST">
            {% csrf_token %}
                <button type="submit">Unlike</button>
            </form>
            {% else %}
            <form action="quotes/{{quote.id}}/like" method="POST">
            {% csrf_token %}
                <button type="submit">Like</button>
            </form>
            {% endif %}
            {% endfor %}
        </div>    
        <div id="add_quote">
            <form action="/quotes/create_quote" method="POST">
            {% csrf_token %}
                <label for="quote">Quote</label>
                <input name="quote" type="text">
                <label for="author">Quote Author</label>
                <input name="author" type="text">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>