{% if user.quote_uploader.all.count > 0 %}
<div id="uploaded_quotes">
    <h2>Quotes You Added</h2>
    {% for quote in user.quote_uploader.all|dictsortreversed:"created_at" %} 
    <div id ="one_uploaded_quote">
        <form action="/account/update_quote" method="POST">
        {% csrf_token %}
            <input name="quote_id" type="hidden" value="{{quote.id}}">
            <label for="quote">Quote</label>
            <textarea name="quote">{{quote.quote}}</textarea>
            <label for="author">Author</label>
            <input name="author" type="text" value="{{quote.author}}">
            <button type="submit">Update Quote</button>
        </form>
        <div id="delete_quote">
            <form action="/account/delete_quote" method="POST">
            {% csrf_token %}
                <input name="quote_id" type="hidden" value="{{quote.id}}">
                <button type="submit">Delete Quote</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% if user.quote_liker.all.count > 0 %}
<div id="liked_quotes">
    <h2>Quotes You Like</h2>
    {% for quote in user.quote_liker.all %}
    <div id="one_liked_quote">
        <p><span>Quote: </span>{{quote.quote}}</p>
        <p><span>Author: </span>{{quote.author}}</p>
        <p><span>Added by: </span>{{quote.user_who_uploaded.display_name}}</p>
        <form class="unlike_account" method="POST">
            {% csrf_token %}
            <input name = "quote_id" type ="hidden" value="{{quote.id}}">
            <button type="submit">Unlike</button>
        </form>
    </div>
    {% endfor %}
</div>
{% endif %}