<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BetterSelf</title>
    {% load static %}
    {% load mathfilters %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/view_program.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">    
</head>
<body>
    <div id="wrapper">
        <nav>
            <div id="logo">
                <img src="/static/img/logo_maroon.jpg" alt="clapping hands logo">
                <p>BetterSelf</p>
                <p>Become a better version of yourself, one day at a time.</p>
            </div>
            <div id="nav_links">
                <a href = "/home">Home</a>
                <a href = "/quotes">Get Motivated</a>
                <a href = "/program">Start Program</a>
                <a href="/account">My Account</a>
                <a href="/admin/logout">Logout</a>
            </div>
        </nav>
        <div id="container">
            <h1>{{program.behavior.capitalize}} Program</h1>
            <p id="affirmation" class ="statement">I am going to {{change_direction}} my number of {{program.measurement.lower}} each day.</p>
            <p class="statement">{{program.reason}}</p>
            {% if messages %}
            {% for message in messages %}    
            <p class="messages">    
            {{ message }}
            </p>
            {% endfor %}
            {% endif %}
            <div id="content" class="block">
                {% if intervention_ready != True %}
                <div id="begin">
                    <h2>Congratulations, you've taken the first step!</h2>
                    <h3>Now, let's track some data.</h3>
                    <ol>
                        <li>Use a reliable device / method to track your baseline behavior
                            <ul> 
                                <li>
                                For example, use your fitbit or smartphone to count your daily walking steps. Or, count the number of cigarettes left in the box at the end of the day.
                                </li>
                            </ul>
                        </li>
                        <li>Don't make changes yet, just do exactly what you would normally 
                            <ul>
                                <li>
                                    Your goal will be calculated from your baseline average. If you make changes now, intervention will be too hard!
                                </li>
                            </ul>
                        </li>
                        <li>Submit a baseline entry for your first tracking day
                            <ul>
                                <li>
                                    Enter the date, the total count for the behavior that day, and any important notes.
                                </li>
                            </ul>
                        </li>
                        <li>After at least 3 baseline entries, you'll see your goal
                            <ul>
                                <li>
                                    Your baseline average and goal will be shown, and you can begin intervention.
                                </li>
                            </ul>
                        </li>
                    </ol>
                </div>
                {% endif %}
                {% if intervention != True %}
                <div id = "add_baseline_data">
                    <div id="add_baseline">
                        <h2>Add Baseline Entry</h2>
                            <form action="/program/{{program.id}}/create_baseline" method="POST">
                            {% csrf_token %}
                                <label for="date">Date</label>
                                <input name="date" type="date" value = "2021-09-01" required>
                                <label for="total">Day Total</label>
                                <input name="total" type="number" min="0" required>
                                <label for="notes">Note (optional)</label>
                                <textarea name="notes"></textarea>
                                <button type="submit">Submit</button>
                            </form>
                    </div>
                </div>
                {% endif %}
                {% if intervention_ready == True %}
                <div id="baseline_info">
                    {% if intervention != True %}
                    <p>You are ready for intervention!</p>
                    {% endif %}
                    <div id="goal">
                        <h2>Intervention Goal</h2>
                        <p>{{goal_statement}}</p>
                        {% if ready_for_new_goal == True %}
                        <p>Woohoo! You've met your goal! Ready to level up?</p>
                        <!-- TODO add a path and behavior for updating the goal -->
                        <form onsubmit="return false">
                        {% csrf_token %}
                            <button id="update_goal" type="submit">I'm Ready for the Next Level</button>
                        {% endif %}
                        </form>
                    </div>
                    <div id="baseline_average">
                        <h2>Baseline Average</h2>
                        <p>{{baseline_avg_statement}}</p>
                    </div>
                </div>
                {% endif %}
                {% if intervention_ready == True %}
                <div id="add_intervention">
                    <h2>Add Intervention Entry</h2>
                    <form action="/program/{{program.id}}/create_intervention" method="POST">
                    {% csrf_token %}
                        <label for="date">Date</label>
                        <input name="date" type="date" value = "2021-09-01" required>
                        <label for="total">Day Total</label>
                        <input name="total" type="number" min="0" required>
                        <label for="notes">Note (optional)</label>
                        <textarea name="notes"></textarea>
                        <button type="submit">Submit</button>
                    </form>
                </div>
                {% endif %}
                {% if baseline == True %}
                <div id = "progress">
                    <h2>Program Progress</h2>
                    <div id="progress_table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Phase</th>
                                    <th>Date</th>
                                    <th>{{program.measurement.capitalize}}</th>
                                    <th>Met Goal?</th>
                                    <th>Note</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for entry in program.baseline_program.all %}
                                <tr>
                                    <td>Baseline</td>
                                    <td>{{entry.date|date:"n/j/y"}}</td>
                                    <td>{{entry.total}}</td>
                                    <td>N/A</td>
                                    <td>{% if entry.notes|length > 0 %}<a href ="/baseline_note/{{entry.id}}" target="_blank">View</a>{% endif %}</td>
                                    <td>{% if intervention != True %}
                                        <form action="/program/{{program.id}}/delete_baseline" method="POST">
                                            {% csrf_token %}
                                            <input name="baseline_id" type="hidden" value="{{entry.id}}">
                                            <button type="submit">Delete</button>
                                        </form>
                                        {% else %}
                                        <button id="disabled" type="button" disabled>Delete</button>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                        {% if intervention == True %}
                                {% for entry in program.intervention_program.all %}
                                <tr id="intervention_row">
                                    <td>Intervention</td>
                                    <td>{{entry.date|date:"n/j/y"}}</td>
                                    <td>{{entry.total}}</td>
                                    <td>{% if program.direction == 0 %}
                                        {% if goal >= entry.total %}
                                            <span id="yes">Yes!</span> {% else %} <span id="no">No</span> {% endif %}
                                        {% endif %}
                                        {% if program.direction == 1 %} 
                                        {% if entry.total >= goal %}
                                        <span id="yes">Yes!</span> {% else %} <span id="no">No</span> {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>{% if entry.notes|length > 0 %}<a href ="/intervention_note/{{entry.id}}" target="_blank">View</a>{% endif %}
                                    </td>
                                    <td>
                                        <form action="/program/{{program.id}}/delete_intervention" method="POST">
                                            {% csrf_token %}
                                            <input name="intervention_id" type="hidden" value="{{entry.id}}">
                                            <button type="submit">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                        {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
                {% if baseline != True %}
                <div id="blank"></div>
                {% endif %}
            </div>
        </div>
    </div>
    <footer>
        <p>&#169; 2021 BetterSelf, Inc.</p>
        <p><a href="https://www.freshbooks.com/blog/does-my-website-really-need-a-terms-and-conditions-page" target="_blank">Terms of Service</a> | <a href="https://www.privacypolicies.com/blog/privacy-policies-legally-required/" target="_blank">Privacy Policy</a></p>
    </footer>
</body>
</html>